<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tenant.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @tenant.email %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @tenant.phoneNumber %>
</p>

<p>
  <strong>Leaseid:</strong>
  <%= @tenant.leaseID %>
</p>

<p>
  <strong>Currentresdient:</strong>
  <%= @tenant.currentResdient %>
</p>

<p>
  <strong>Forwardingaddress:</strong>
  <%= @tenant.forwardingAddress %>
</p>

<%= link_to 'Edit', edit_tenant_path(@tenant) %> |
<%= link_to 'Back', tenants_path %>
