<p id="notice"><%= notice %></p>

<p>
  <strong>Unitnumber:</strong>
  <%= @apartment.unitNumber %>
</p>

<p>
  <strong>Bedroom:</strong>
  <%= @apartment.bedroom %>
</p>

<p>
  <strong>Bathroom:</strong>
  <%= @apartment.bathroom %>
</p>

<p>
  <strong>Sizesqft:</strong>
  <%= @apartment.sizeSQFT %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @apartment.notes %>
</p>

<%= link_to 'Edit', edit_apartment_path(@apartment) %> |
<%= link_to 'Back', apartments_path %>
